<template>
  <div class="wrapper">
    <div class="container">
      <div class="container1">
        <div class="intro">
          <div class="header">
            Mihailo Vuković
            <span>Zdravstveni Fitnes Trener</span>
          </div>
        </div>
      </div>

      <div class="container2">
        <!-- CAROUSEL -->
        <div class="carousel">
          <!-- <h3>Transformacije</h3> -->
          <carousel
            :autoplay="true"
            :per-page="1"
            :loop="true"
            :autoplayTimeout="3000"
            :centerMode="true"
            :autoplayHoverPause="true"
          >
            <slide
              v-for="(pic, index) in pictures"
              :key="pic.pic_id"
              :index="index"
            >
              <img :src="pic.avatar_url" alt="carousel slika" />
            </slide>
          </carousel>
        </div>

        <div class="cards">
          <div class="card">
            <h2>Šta je Online saradnja i kako funkcioniše?!</h2>
            <p>
              Online saradnja je vid saradnje preko interneta putem mobilnog
              telefona (Viber, WhatsApp, Messenger, E-mail) ili preko
              laptopa/kompjutera. Klijent/Klijentkinja popunjava upitnik o
              određenim podacima, tačnije godine, kilograme, visinu, zdravstveni
              status, krvnu grupu, cilj koji želi da postignemo, obaveze koje
              ima u toku radne nedelje i da li želi da radi trening u teretani
              ili od kuće ili ako radi na brodu, itd. Kompletan plan bude gotov
              u roku od par dana i klijent dobija plan ishrane i treninga
              prilagođen svojim godinama, zdravstvenom stanju, obavezama i
              uslovima. Plan je u pisanoj formi i u video formatu gde je svaka
              vežba pojedinačno snimljena da bi klijent znao kako pravilno da
              izvodi vežbe i šta sve sme da jede i pije, a šta ne. Takođe
              klijent dobija stalnu komunikaciju sa mnom za sva potrebna
              pitanja, podršku, motivaciju i edukaciju.
              <span>
                Dostupan sam svim klijentima iz celog sveta 24/7 što znači da
                zajedničkim snagama idemo do sjajne transformacije u
                zdravstvenom i fizičkom smislu.</span
              >
            </p>
          </div>
        </div>
      </div>

      <div class="abouMe">
        <h2>Više o meni i o mom radu!</h2>
        <p>
          Pozdrav svima, ja sam Mihailo Vuković rođen 17.07.1992. u Vrbasu, a
          živim u Kuli (Vojvodina, Srbija). Od svoje 5. godine se bavim sportom,
          što znači da sam aktivan sportista preko 20 godina. Prvo sam počeo sa
          karateom, pa sa plivanjem, pa sa košarkom, pa MMA, pa sam ušao u
          teretanu i taj svet fitnesa i evo tu sam i ostao i bavim se ovim preko
          10 godina.
        </p>
        <p>
          Završio sam srednju medicinsku školu, smer Farmaceutski tehničar, pa
          sam odmah po završetku srednje škole odlučio da upišem Farmaceutski
          fakultet, koji sam napustio zbog ljubavi prema sportu i želji da se
          ostvarim kao trener. Tako da sam po struci farmaceutski tehničar,
          obezbeđenje, profesionalni vozač i trener. Promenio sam pravac i
          maksimalno se preusmerio i posvetio trenerskom poslu, završio sam
          Akademiju za fitnes trenere i započeo svoju fitnes priču, zdravstvenu
          priču gde ne radim samo sa bilderima i fitnes takmičarima, već i sa
          ljudima koji imaju određene zdravstvene probleme poput hormonskog
          disbalansa, loše krvne slike, sa dijabetesom, pritiskom, holesterolom,
          kandidom, deformitetom kičme, diskus hernijom, povredama...
        </p>
        <p>
          Veliki broj zadovoljnih klijenata je iza mene. Svakom klijentu
          otvoreno kažem/napišem šta mogu, a šta ne mogu i koliko je sta
          izvodljivo, a šta nije i samim tim se odmah ogradim i dam određenu
          vrstu garancije za rezultat, jer volim da budem realan. Imao sam
          klijente iz celog sveta i radujem se svakoj novoj saradnji u koju
          ulazim maksimalno iskreno svim srcem i glavom.
        </p>
        <p>
          Svi klijenti koji su poštovali moj plan i imali poverenja u mene su u
          kratkom roku dobili neverovatnu životnu promenu zdravstveno i fizički,
          jer mi je najveći cilj prvo pomoći zdravstveno, pa onda kao najslađi
          deo dođe onaj željeni fizički izgled. Sarađivao sam sa decom od 8
          godina, kao i sa odraslima do 70 godina starosti, tako da može svako
          da se prijavi, samo naravno ako je dete u pitanju mora roditelj da ga
          prijavi.
        </p>
        <p>
          <span>
            Za mene pravi trener mora da Vam bude prvo i pre svega podrška,
            motivator, prijatelj, psiholog, oslonac i u određenim situacijama
            strog. Svako dobro i sportski pozdrav svima. Dobrodošli na moj sajt!
            ❤️
          </span>
        </p>
      </div>
      <div class="test">.</div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
// @ is an alias to /src
import { Carousel, Slide } from "vue-carousel";
export default {
  name: "Home",
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      pictures: [],
      visibleSlide: 0,
      direction: "left",
    };
  },
  methods: {
    getPictures() {
      axios
        .get("http://227w122.mars1.mars-hosting.com/FT/pictures/2")
        .then((res) => {
          
          this.pictures = res.data.data;
        });
    },
    next() {
      if (this.visibleSlide >= this.picturesLen - 1) {
        this.visibleSlide = 0;
      } else {
        this.visibleSlide++;
      }
      this.direction = "left";
    },
    prev() {
      if (this.visibleSlide <= 0) {
        this.visibleSlide = this.picturesLen - 1;
      } else {
        this.visibleSlide--;
      }
      this.direction = "right";
    },
  },
  mounted() {
    this.getPictures();
  },
  computed: {
    picturesLen() {
      return this.pictures.length;
    },
  },
};
</script>

<style scoped>
.wrapper {
  background-color: #18191a;
  min-height: 150vh;
}
.container1 {
  height: 500px;
  background-image: url("../assets/miksi.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.carousel {
  /* height: fit-content; */
  max-width: 500px;
  margin: 10px auto 0;
}
.intro {
  padding: 10px;
  font-size: 25px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* position: relative;
  width: 100%;
  margin-top: -40%; */
}
.header {
  text-align: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.intro span {
  font-size: 16px;
  font-weight: bold;
  display: block;
}
img {
  max-width: -webkit-fill-available;
  /* margin: 10px; */
}
h3 {
  color: #fff;
}
.VueCarousel-slide {
  height: fit-content;
  margin: auto;
}
.VueCarousel-slide img {
  max-width: 90%;
  max-height: 450px;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  max-width: 550px;
  margin: 0 auto;
}
.card {
  position: relative;
  /* max-width: 300px; */
  width: 90%;
  min-height: 400px;
  padding: 1em 1.5em;
  margin: 10px 20px;
  color: #000;
  background: #e4e6eb;
  box-shadow: -9px 9px rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.card h2 {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 70px;
}
.card p span {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 80px 80px 0;
  border-style: solid;
  border-color: #18191a #18191a #b0b3b8 #b0b3b8;
  background: #18191a;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
    -1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  display: block;
  width: 0;
}
.abouMe {
  /* padding: 15px;
  background-color: #cc9933; */
  background-color: #3a3b3c;
  color: #fff;
  box-shadow: -5px 9px rgba(255, 255, 255, 0.1);
  border: 1px solid #18191a;
  padding: 0 15px;
  margin: 10px 20px 40px;
}
.abouMe h2 {
  color: #fff;
}
.abouMe p {
  color: #fff;
}
.abouMe span {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
}
.test {
  visibility: hidden;
}
@media only screen and (min-width: 400px) {
  .container1 {
    /* height: 750px;
    background-size: cover;
    background-image: url("../assets/miksi2.jpg");
    max-width: 1920px;
    margin: 0 auto; */
    justify-content: center;
    /* align-items: flex-start; */
  }
  .intro {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: flex-start;
  }
  .header {
    color: rgb(255, 255, 255);
    height: fit-content;
    margin-top: 50px;
    font-size: 40px;
  }
  .header span {
    font-size: 20px;
  }
}
@media only screen and (min-width: 600px) {
  .container1 {
    height: 750px;
    background-size: cover;
    background-image: url("../assets/miksi2.jpg");
    max-width: 1920px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 600px) and (max-width: 849px) {
  .intro {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: flex-end;
  }
  .header {
    color: rgb(255, 255, 255);
    height: fit-content;
    margin-top: 50px;
    font-size: 45px;
  }
  .header span {
    font-size: 25px;
  }
}

@media only screen and (min-width: 850px) {
  .header {
    color: rgb(255, 255, 255);
    height: fit-content;
    margin-top: 50px;
    font-size: 55px;
  }
  .header span {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1150px) {
  .container1 {
    height: 950px;
    background-size: cover;
    background-image: url("../assets/miksi2.jpg");
    max-width: 1920px;
    margin: 0 auto;
  }
  .intro {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .header {
    color: rgb(255, 255, 255);
    height: fit-content;
    margin-top: 50px;
    font-size: 70px;
  }
  .header span {
    font-size: 40px;
  }
  .container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1300px;
    margin: 10px auto 0;
  }
  .carousel {
    margin: 10px 0;
  }
  .cards {
    margin: 10px 0;
  }
  .card p{
    text-align: justify;
  }
  .abouMe {
    max-width: 1100px;
    margin: 10px auto 40px;
  }
  .abouMe p{
    text-align: justify;
  }
}
</style>